<!DOCTYPE html>
<html ng-app="mcapp">
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"><!-- Load the jQuery UI CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/ui-darkness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.js" type="text/javascript" charset="UTF-8"></script>
    <script src="javascripts/mc-service.js"></script>
    <script src="javascripts/mc-controller.js"></script>
    <script src="javascripts/curve-controller.js"></script>
    <script src="javascripts/bstats-controller.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" charset="UTF-8"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript" charset="UTF-8"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript" charset="UTF-8"></script>
    <body class="black"></body>
    <div ng-controller="bstatsController" class="bstatsMaster">
      <h2 class="soft-grey"></h2>
      <table>
        <tr>
          <td>Sybase username:</td>
          <td>
            <input ng-model="credentials.sybase_username" id="username">
          </td>
        </tr>
        <tr>
          <td>Password:</td>
          <td>
            <input ng-model="credentials.sybase_password" id="password" type="password">
          </td>
        </tr>
        <tr>
          <td>Environment:</td>
          <td>
            <select ng-model="sybase_env" id="sybenv" class="{{sybase_env}}">
              <option value="PRD" class="prd">Production</option>
              <option value="UAT" class="uat">UAT</option>
              <option value="DEV" class="dev">Development</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>History goes back (days):</td>
          <td>
            <select ng-model="days_ago" id="daysAgo">
              <option value="1">1</option>
              <option value="7">7</option>
              <option value="14">14</option>
              <option value="30">30</option>
            </select>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>
            <button ng-click="getStats()">REFRESH</button>
          </td>
        </tr>
      </table><br>
      <table class="job-table">
        <th class="job-table-cell job-table-header">
          <t>MARS Operation</t>
        </th>
        <th colspan="10" title="Green means run was quicker/same as previous, red=slower." data-toggle="tooltip" class="job-table-cell job-table-header">
          <t>Run time (secs). Most recent run to the left.</t>
        </th>
        <tr ng-repeat="job in stats">
          <td ng-click="showStats(job['op']);" class="job-table-cell clickableJob">{{ job["op"] }}</td>
          <td ng-repeat="run in job.revruns track by $index" title="Started: {{ run.start }}" data-toggle="tooltip" class="job-table-cell {{ run.trend }}">{{ run.elapsed }}</td>
        </tr>
      </table><br><br>
      <div id="hive-path"></div>
      <div id="TheGraph"></div>
      <div id="graph"></div>
      <div ng-show="busy" class="busy"></div>
      <div ng-show="busy" class="busy-message">
        <t>Contacting Sybase ({{ sybase_env }})</t><br>
        <t>Please wait...</t>
      </div>
    </div>
  </head>
</html>